<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/main_icon_logo"
        android:label="BulsuXplore"
        android:supportsRtl="true"
        android:theme="@style/Theme.BulsuXplore"
        tools:targetApi="31">
        <activity
            android:name=".dashboard.DashOrgActivity"
            android:exported="false" />
        <activity
            android:name=".maps.PostActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.DashPortalActivity"
            android:exported="false"
            android:label="@string/title_activity_dash_portal"
            android:theme="@style/Theme.BulsuXplore" />
        <activity
            android:name=".dashboard.DashFaqsActivity"
            android:exported="false"
            android:label="@string/title_activity_dash_portal"
            android:theme="@style/Theme.BulsuXplore" />
        <activity
            android:name=".dashboard.DashCalendarActivity"
            android:exported="false"
            android:label="@string/title_activity_dash_portal"
            android:theme="@style/Theme.BulsuXplore" />
        <activity
            android:name=".dashboard.DashAboutActivity"
            android:exported="false"
            android:label="@string/title_activity_dash_portal"
            android:theme="@style/Theme.BulsuXplore" />
        <activity
            android:name=".dashboard.DashCollegesActivity"
            android:exported="false"
            android:label="Buildings Activity"
            android:theme="@style/Theme.BulsuXplore" />
        <activity
            android:name=".users.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".maps.VisitorXploreFragment"
            android:exported="false" />
        <activity
            android:name=".maps.VisitorActivity"
            android:exported="false" />
        <activity
            android:name=".users.SliderNavigationActivity"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".visitors.VisitorSignupActivity"
            android:exported="false" />
        <activity
            android:name=".users.LoginSignupActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBlY0KYKKiP7AIszrcee40dm84TgpfjSyM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".users.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".users.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".maps.MainActivity"
            android:exported="false" />
    </application>

</manifest>